.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
  background-color: rgb(8 4 37);
}

.base {
  display: flex;
  width: 500px;
  height: 600px;
  background-color: black;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 600px;
  overflow: hidden;
  background-color: rgb(67 56 165);
}

.cell {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 30px;
  height: 30px;
  background-color: yellow;
  border: 1px solid black;
}

.informationBoard {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 600px;
  color: white;
  background-color: rgb(66 57 151);
}

.informationBoardBox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  margin: 10px;
  color: white;
  background-color: black;
}

.topInformation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 30px;
  color: white;
  background-color: rgb(81 71 167);
}

.controlPanel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  color: white;
  background-color: rgb(0 0 0);
}

.panelCell {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: rgb(0 0 0);
  border: 1px solid white;
}

.stratButton {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  font-size: 100px;
  color: rgb(230 29 15);
  background-color: rgb(255 255 255 / 70%);
  border-radius: 9999px;
}
