.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.base {
  width: 400px;
  height: 600px;
  background-color: black;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 600px;
  background-color: rgb(160 152 233);
}

.cell {
  display: flex;
  flex-wrap: wrap;
  width: 30px;
  height: 30px;
  background-color: yellow;
  border: 1px solid black;
}
